<div class=content8>
<p align="center"> <b>My name is Germanskij Vasil</b></p>
<p>
  Мой дядя самих честних правил
  Когда не в шутку занемог
  Он уважать себя заставил
  И лучше видумать не мог
</p>

<p> Мой дядя самих честних правил
<p> Когда не в шутку занемог
<p> Он уважать себя заставил
<p> И лучше видумать не мог

 <blockquote>Мой дядя самих честних правил
  Когда не в шутку занемог
  Он уважать себя заставил
  И лучше видумать не мог
 </blockquote>
 <div>
  asdasdasd
  asdasd
  asdasdasdasd &#169
  asdasd
 </div>
 <div>
  asdasdasd
 <font color="red">asdasd</font>
  asdasd
  asdasd
  <hr color="green">
    <p align=center>Порівняльна таблиця</p>
    <table border=9 align=center width=70% cellpadding=5 cellspacing=5 bgcolor=brown bordercolor=yellow bordercolordark=green bordercolorlight=red>
      <tr>
        <td>Країна</td>
        <td>Кількість населення</td>
        <td>Площа</td>
         <td>Прапор</td>
        </tr>
      <tr>
        <td>Україна</td>
        <td>10 0000</td>
        <td>25 000</td>
        <td>зелений</td>
        </tr>
        <tr>
        <td>Щвеція</td>
        <td>11 0000</td>
        <td>22 000</td>
        <td>синій</td>
        </tr>
        <tr>
        <td>Фінляндія</td>
        <td>3 0000</td>
        <td>2 000</td>
        <td>червоний</td>
        </tr>
      </table>
 </div>

 
</div>