<div class=content4>
        <img src="4.jpg" width="160 height="160" align=left border="1">
          <p3> <b>Германський Василь Людвігович </b> <br>werwerwerwerwerwerwer asdasdasd
          asdasdasd  asdasdasd  asdasdasd   asdasdasd
          asdasdasd  asdasd asdasdasdasdasdaasdasdasdddddds
          </p3>
          <hr>
           <p>
          swfsdfsdfsdfsdf   asdasdasdasdasdasdasdasdasdads asdasdasdasd
          asdasdasda   asdasdasdasdasd  asdasdasd
          adsasdasdasdasdasdasdasdasd  adsasdasdasd
          </p>
          <hr>
          <p>
          і так далі
          </p>
          </div>
      <div class=content3>
            <div class=content5>
            <p align=center> <input type="text" name="testfind" id="find"></p>
            <p align=center><input type="button" value="Пошук " id="button"></p>
            </div>
            <div class=content6>
               <p align=center><l1>Остальная хрень</l1></p>
               <p>Германський Василь Людвігович</p>
               <p>Все закінчується добре</p>
            </div>
          </div>
